<!-- ./public/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>BotChat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="chat.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type='text/javascript'>
// console.log("PHP HOST");
// console.log(process.env.PHP_HOST);
// console.log("PHP PORT");
// console.log(process.env.PHP_PORT);
//
var howFarBack = "1d";
var webaddress = 'http://localhost:8080';
var currentChatRoom = 'general';
var status = "standby";
$(document).ready(function() {
	console.log("Jquery is ready!");
	$('form').submit(function (event)
	{	
		//reference  https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_ajax_post
		var messageString = document.getElementById('chatInput').value;
		var fromString = current_user;
		var toString = 'David';
		if(messageString == "" &&  status != "updating")
		{
			alert("Enter something in the chat");
		}
		else if(messageString != null)
		{
		$.post(webaddress, 
		{ 
			message: messageString,
			length: messageString.length,
			from: fromString,
			to: currentChatRoom
		} , 
		function(data, status){ 
			console.log(status); 
			if(status != "success"){
				alert("Did not send message!");  
			}else { 
				console.log("sent message successfully");
				document.getElementById('chatInput').value = '';
			}  
		});
		console.log("Submitting");
		}
		return false;
	});
});

function updateChat(current_user)
{
	status = "updating";
	var messages = [];
	$.get(webaddress,{'startTime' : Math.floor(Date.now() / 1000), 'endTime' :  100000 } , function(data)
	{
		var jsons = [];
		messages = data.split('|');
		for(i = 0; i< messages.length - 1; i++)
		{
			console.log(messages[i]);
			jsons.push(JSON.parse(messages[i]));
		}
		console.log(jsons);
		var chatHTML = "";
		for(i = 0; i<jsons.length; i++)
		{
			console.log(returnMessageHTML(jsons[i], current_user));
			chatHTML = chatHTML.concat(returnMessageHTML(jsons[i]));
		}
		console.log("Chat HTML is ");
		console.log(chatHTML);
		document.getElementById('chat').innerHTML = chatHTML;
		
		
	}
	);
}

function returnMessageHTML(messageJSON, current_user)
{
console.log("Returning MessageHTML");
var html = "";
var date = new Date(messageJSON.time);
var hours = date.getHours();
var minutes = date.getMinutes();
minutes = "0" + minutes;
console.log('FROM is');
var from = String(messageJSON.from);
from = from.replace(/\s/g, '');
var nowUser = String(cookie.get('user'));
nowUser = nowUser.replace(/\s/g, '');
// https://stackoverflow.com/questions/39688987/javascript-strings-are-equal-but-comparing-returns-false

console.log(String(from) == String(nowUser));
var authorType = "";
if(String(from) == String(nowUser))
{
authorType = 'user';
}
else
{
authorType = 'non-user';
}

html = html.concat("<div class='message'><div class='" +authorType + "'><p>", messageJSON.message, '</p></div></div>');

console.log(html);
return html;
}


var int = self.setInterval(updateChat(cookie.get('user')), 10);
</script>
  </head>
  <body>
    <main>
      <table>
        <tr>
          <th><img src="cat.gif" alt="Keyboard Warrior"></th>
          <th>
            <section id = 'chat' class="chat">
            </section>

            <form>
              <input id="chatInput" type="text" placeholder="Send a message!" name="message"/>
              <input type="submit"></input>
              <button onclick="updateChat();">Update</button>
            </form>
          </th>
        </tr>
      </table>
    </main>
  </body>
</html>
