<!-- ./public/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>BotChat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">i


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type='text/javascript'>
// console.log("PHP HOST");
// console.log(process.env.PHP_HOST);
// console.log("PHP PORT");
// console.log(process.env.PHP_PORT);
//

var webaddress = 'http://localhost:8080';
var currentChatRoom = 'general';
$(document).ready(function() {
	console.log("Jquery is ready!");
	$('form').submit(function ()
	{	
		//reference  https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_ajax_post
		var messageString = document.getElementById('chatInput').value;
		var fromString = current_user;
		var toString = 'David';
		$.post(webaddress, 
		{ 
			message: messageString,
			length: messageString.length,
			from: fromString,
			to: currentChatRoom
		} , 
		function(data, status){ 
			console.log(status); 
			if(status != "success"){
				alert("Did not send message!");  
			}else { 
				console.log("sent message successfully");
				document.getElementById('chatInput').value = '';
			}  
		});
		console.log("Submitting");
	});
});

function updateChat()
{


}
</script>
  </head>
  <body>
    <main>
      <table>
        <tr>
          <th><img src="cat.gif" alt="Keyboard Warrior"></th>
          <th>
            <section class="chat">
            </section>

            <form>
              <input id="chatInput" type="text" placeholder="Send a message!" name="message"/>
              <input type="submit">Send</button>
            </form>
          </th>
        </tr>
      </table>
    </main>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
